* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:infinite;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 25%;
      width: 100%;
    }
  }

/* .account{
background-image: url(img/square-xmark-solid.svg);
    position: absolute;
    top: 10px;
    right: 30px;
    height: 30px;

} */
/* .slider{
    text-align: center;
    margin-top: 20%;
}
@keyframes slider{
    0%{
        transform: skewX(53deg) translateX(-500px);
    }
    100%{
        transform: skew(0deg);
    }
} */

.toggle {
    position: absolute;
    display: none;
    top: 6px;
    right: 22px;
    width: 30px;
    height: 30px;
    background: aqua url(img/list.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.account {
    position: absolute;
    right: 20px;
    top: 7px;
    width: 30px;
}

.account img {
    width: 30px;
}

.heading {
    color: aqua;
    padding: 5px;
}

h1.heading {
    /* display: flex; */
    /* background-color: #3b2d2d; */
    /* justify-content: center; */
    display: flex;
    left: 0;
    position: absolute;
}

.toggle.active {
    background: aqua url(img/chevron-right.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar {
    text-align: center;
    display: flex;
    background-color: blueviolet;
    /* background-color: #3b2d2d; */
    justify-content: center;

}

.sidebar ul {
    display: flex;
    list-style: none;
    /* padding: 10px; */
    text-decoration: none;
}

.sidebar ul li {
    margin: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

.sidebar ul li a {
    text-decoration: none;
    color: aqua;
}

/* .list-item {
    display: flex;
    list-style: none;
}

.list-item li {
    margin: 11px;
    color: white;
    font-weight: bold;
} */


/* .slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
} */



/* slider img start */

.image-product {
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.maindiv {
    width: 100%;
    height: 100vh;
    left: 50%;
    top: 44%;
    background-image: url(/img/bikes.png);
    background-size: 100% 100%;
    animation: slider 9s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url(/img/bikes.png);
    }

    35% {
        background-image: url(/img/fz.png);
    }

    75% {
        background-image: url(./img/yamaha.png);
    }
}

/* @-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left:0px}
    90%{left:0px}
    100%{left:0px}
}
.slide-images{
    width: 3600px;
    height: 800px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running0;

} */

/* .img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
} */

/* slider img end */


/* product start  */

.product {
    background-color: #dee4e8;
}

.product-head span {
    height: 59px;
    line-height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}
.product-head p{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-container {
    
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
}

.product-list {

    height: 40vh;
    border-radius: 9px;
    background-color: aliceblue;
    width: 100vw;
    margin-right: 10px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 15px;
}

.product-list span {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.product-list h4 {
    justify-content: center;
    display: flex;
    margin-left: 35px;
    align-items: center;
    padding: 7px;
}

.product-list span img{
    border-radius: 127px;
    width: 118px;
    height: 107px;
}

/* product end  */

/* slide auto img start */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
/* slide auto img end */


/* footer start */

.footer-container {
    background-color: black;
}

.row {
    display: flex;
}

.footerservice {
    width: 20%;
    padding: 0 15px;
}

.footerservice h1 {
    color: aqua;
    text-transform: capitalize;
    margin-top: 25px;
    font-size: 28px;
    font-weight: 800;
    position: relative;
}

.footerservice h4 {
    color: white;
    text-transform: capitalize;
    display: flex;
    font-weight: bold;
    margin-top: 27px;
    justify-content: center;
    font-weight: 800;
}

/* .social-links{
    margin: 35px;
    font-size: 45px;
}
.social-links a{
    color:white;
    margin: 2px;
}
.social-links a i:hover{
    background-color: whitesmoke;
    cursor: pointer;

} */
.footerservice ul li {
    margin: 8px;
    font-size: 15px;
    align-items: center;
    color: gray;
    text-transform: none;
    display: flex;
    justify-content: center;
}

.footerservice ul li:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    padding-left: 8px;
}

/* footer end */



@media (max-width: 600px) {
    .toggle {
        display: flex;
        border-radius: 5px;
    }

    .account {
        right: 70px;
    }

    .sidebar {
        position: absolute;
        background: radial-gradient(#3b2d2d, transparent);
        justify-content: center;
        display: none;
        align-items: center;
        transition: 0.5s;
        position: 0px;
        z-index: 100;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;


    }

    .sidebar.active {
        top: 100px;
        pointer-events: auto;
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .sidebar ul {
        display: flex;
        top: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sidebar ul li {

        list-style: none;
        margin: 20px;

    }

    .sidebar ul li a {
        color: aqua;
        text-decoration: none;
        font-size: 2rem;
        padding: 15px;
        font-weight: 900;
    }
}

/* @media (max-width=500px){ */

    /* product start  */
    /* .product {
    background-color: #dee4e8;
}

.product-head span {
    height: 59px;
    line-height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}
.product-head p{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-container {
    
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
}

.product-list {

    height: 40vh;
    border-radius: 9px;
    background-color: aliceblue;
    width: 100vw;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.product-list span {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.product-list h4 {
    justify-content: center;
    display: flex;
    margin-left: 35px;
    align-items: center;
    padding: 7px;
}

.product-list span img{
    border-radius: 127px;
    width: 118px;
    height: 107px;
}

} */